.headerWrapper {
    display: flex;
    justify-content: center;
    width: 60vw; 
    height: 15vh;
    line-height: 15vh;
    vertical-align: center;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: bold;
    border-bottom: solid 2px #2f2b2b;
}

/* .headerImg { 
     height: '100px'; 
    margin: auto;
    transform: scaleX(-1);
    src: '../../assets/icons/galaxyMind.png';
    font-size: 10px;
} */