.blogtile {
    display: flex;
    flex-direction: column;
   
    background-color: rgb(109, 17, 17);
    color: white;
    /* padding: 30px;
    margin: 10px; */
    width: 200px;
    text-align: center;
    margin-top: 20px;
}

.editForm{
    justify-content: middle;
}

.eventImg{
    height: 100px;
}